.tweets {
  max-height: 700px;
  overflow-y: scroll !important;
}

.avatar {
  width: 30px;
}

.followers {
  max-height: 300px;
  overflow-y: scroll !important;
}

.search-results {
  max-height: 200px;
  overflow-y: scroll !important;
}
